<h1>Contacts</h1>

<% @@rolodex.contacts.each do |contact| %>
<div class="contact-container">
	<table class="contact">
		<thead>
			<tr>
				<th colspan="2"><a href="/contacts/<%= contact.id %>"><%= contact.first_name%> <%=contact.last_name%></a><a class="edit-link" href='/contacts/<%= contact.id %>/edit'>//Edit</a></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>First Name: </td>
				<td class="data"><%= contact.first_name %></td>
			</tr>
			<tr>
				<td>Last Name: </td>
				<td class="data"><%= contact.last_name %></td>
			</tr>
			<tr>
				<td>Email: </td>
				<td class="data"><%= contact.email %></td>
			</tr>
			<tr>
				<td>Note: </td>
				<td class="data"><%= contact.note %></td>
			</tr>
			<tr>
				<td>Created:</td>
				<td class="data"><%= contact.time_format(contact.time) %></td>
			</tr>
		</tbody>
	</table>
</div>
<% end %>
	