<h1>Edit a contact</h1>

<div class="contact-container">
	<form class="edit" action="/contacts/<%= @contact.id %>" method="post">
		 <input type="hidden" name="_method" value="put">
		<table class="edit-contact">
			<thead>
				<tr>
					<th colspan="2"><%= @contact.first_name %> <%= @contact.last_name %></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><label for="first">First Name: </label></td>
					<td class="data"><input id="first" type="text" name="first_name" value=<%= @contact.first_name %>></td>
				</tr>
				<tr>
					<td><label for="last">Last Name: </label></td>
					<td class="data"><input id="last" type="text" name="last_name" value=<%= @contact.last_name %>></td>
				</tr>
				<tr>
					<td><label for="email">Email: </label></td>
					<td class="data"><input id="email" type="text" name="email" value=<%= @contact.email %>></td>
				</tr>
				<tr>
					<td><label for="note">Note: </label></td>
					<td class="data"><input id="note" type="text" name="note" value=<%= @contact.note %>></td>
				</tr>
				<tr >
					<td id ="submit" colspan="2"><input type="submit" name="Submit your changes"></td>
				</tr>	
			</tbody>
		</table>
	</form>
</div>
